@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.home-panel {
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    background-color: #d6d7d7;
}

.Home-body-panel {
    height: 100%;
    width: calc(100vw - (185px * 3));
}

.Home-image {
    max-height: 100%;
    max-width: 100%;
}

.panel-format {
    width: 185px;
    height: calc(100vh - 60px);
    position: relative;
}

.panel-text-format {
    position: absolute;
    bottom: 0;
    width: 0;
    font-size: 40px;
    word-wrap: break-word;
    left: calc(185px / 2.5);
    font-family: 'Zen Antique Soft', serif;
    font-weight: 500;
    color: transparent;
}

.panel-text-format:hover {
    color: white;
}

.software-panel:hover,
.software-panel-2:hover,
.hardware-panel:hover,
.hardware-panel-2:hover,
.hobbies-panel:hover,
.hobbies-panel-2:hover {
    opacity: 0.8;
}

.hobbies-panel {
    background-image: url('../Image/MySelf/Hobbies-pic.png');
    position: absolute;
    right: 0;
    bottom: 0;
    animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.hardware-panel {
    background-image: url('../Image/MySelf/Hardware-pic.png');
    position: absolute;
    right: calc(185px);
    bottom: 0;
    animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.software-panel {
    background-image: url('../Image/MySelf/Software-pic.png');
    position: absolute;
    right: calc(185px * 2);
    bottom: 0;
    animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* 切到software 页面 */
.software-panel-2 {
    background-image: url('../Image/MySelf/Software-pic.png');
    position: absolute;
    left: 0;
    bottom: 0;
    animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.software-body-panel {
    position: absolute;
    left: calc(185px);
    top: 0;
    padding: 20px 40px;
}

.software-skill-panel,
.hardware-skill-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
}

.front-end-panel,
.back-end-panel,
.course-panel,
.other-skills-panel {
    width: 28vw;
}

.scale-width {
    width: 25vw;
    background-color: black;
    opacity: 0.4;
}

.scale-percent {
    background-color: grey;
    opacity: 1;
}

.react,
.css,
.git {
    width: calc(25vw * 0.98);
}

.js,
.mongoDB,
.NodeJS {
    width: calc(25vw * 0.95);
}

.sapui5 {
    width: calc(25vw * 0.9);
}

.python,
.django {
    width: calc(25vw * 0.94);
}

.linux {
    width: calc(25vw * 0.85);
}

.express {
    width: calc(25vw * 0.92);
}

.aa {
    width: calc(25vw);
}

.a {
    width: calc(25vw * 0.95);
}

.ab {
    width: calc(25vw * 0.9);
}

.bb {
    width: calc(25vw * 0.85);
}

.b {
    width: calc(25vw * 0.8);
}

/* 切到hardware 页面 */
.hardware-panel-2 {
    background-image: url('../Image/MySelf/Hardware-pic.png');
    position: absolute;
    left: calc(185px);
    bottom: 0;
    animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.hardware-body-panel {
    position: absolute;
    left: calc(185px * 2);
    top: 0;
    padding: 20px 60px;
}

/* 切到hobbies 页面 */
.hobbies-panel-2 {
    background-image: url('../Image/MySelf/Hobbies-pic.png');
    position: absolute;
    left: calc(185px * 2);
    bottom: 0;
    animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.hobbies-body-panel {
    position: absolute;
    left: calc(185px * 3);
    top: 0;
    padding: 20px 40px;
}


@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* 一般电脑大小屏幕 */
@media screen and (max-width: 1600px) {

    .home-panel {
        height: calc(100vh - 60px);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden;
        background-color: #d6d7d7;
    }

    .Home-body-panel {
        height: 100%;
        width: calc(100vw - (170px * 3));
    }

    .Home-image {
        max-height: 100%;
        max-width: 100%;
    }

    .panel-format {
        width: 170px;
        height: calc(100vh - 60px);
        position: relative;
    }

    .panel-text-format {
        /* transform: rotate(90deg); */
        position: absolute;
        bottom: 0;
        width: 0;
        font-size: 40px;
        word-wrap: break-word;
        left: calc(170px / 2.5);
        font-family: 'Zen Antique Soft', serif;
        font-weight: 500;
        color: transparent;
    }

    .panel-text-format:hover {
        color: white;
    }

    .hobbies-panel {
        background-image: url('../Image/MySelf/Hobbies-pic.png');
        position: absolute;
        right: 0;
        bottom: 0;
        animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }

    .hardware-panel {
        background-image: url('../Image/MySelf/Hardware-pic.png');
        position: absolute;
        right: calc(170px);
        bottom: 0;
        animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }

    .software-panel {
        background-image: url('../Image/MySelf/Software-pic.png');
        position: absolute;
        right: calc(170px * 2);
        bottom: 0;
        animation: slide-left 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }


    .software-panel:hover,
    .software-panel-2:hover,
    .hardware-panel:hover,
    .hardware-panel-2:hover,
    .hobbies-panel:hover,
    .hobbies-panel-2:hover {
        opacity: 0.8;
    }

    /* 切到software 页面 */
    .software-panel-2 {
        background-image: url('../Image/MySelf/Software-pic.png');
        position: absolute;
        left: 0;
        bottom: 0;
        animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }

    .software-body-panel {
        position: absolute;
        left: calc(185px);
        top: 0;
        padding: 20px 40px;
    }

    .software-skill-panel,
    .hardware-skill-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
    }

    .front-end-panel,
    .back-end-panel,
    .course-panel,
    .other-skills-panel {
        width: 25vw;
    }

    .scale-width {
        width: 20vw;
        background-color: black;
        opacity: 0.4;
    }

    .scale-percent {
        background-color: grey;
        opacity: 1;
    }

    .react,
    .css,
    .git {
        width: calc(20vw * 0.98);
    }

    .js,
    .mongoDB,
    .NodeJS {
        width: calc(20vw * 0.95);
    }

    .sapui5 {
        width: calc(20vw * 0.9);
    }

    .python,
    .django {
        width: calc(20vw * 0.94);
    }

    .linux {
        width: calc(20vw * 0.85);
    }

    .express {
        width: calc(20vw * 0.92);
    }

    .aa {
        width: calc(20vw);
    }

    .a {
        width: calc(20vw * 0.95);
    }

    .ab {
        width: calc(20vw * 0.9);
    }

    .bb {
        width: calc(20vw * 0.85);
    }

    .b {
        width: calc(20vw * 0.8);
    }

    /* 切到hardware 页面 */
    .hardware-panel-2 {
        background-image: url('../Image/MySelf/Hardware-pic.png');
        position: absolute;
        left: calc(170px);
        bottom: 0;
        animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }

    .hardware-body-panel {
        position: absolute;
        left: calc(170px * 2);
        top: 0;
        padding: 20px 60px;
    }

    /* 切到hobbies 页面 */
    .hobbies-panel-2 {
        background-image: url('../Image/MySelf/Hobbies-pic.png');
        position: absolute;
        left: calc(170px * 2);
        bottom: 0;
        animation: slide-right 0.8s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    }

    .hobbies-body-panel {
        position: absolute;
        left: calc(170px * 3);
        top: 0;
        padding: 20px 40px;
    }


    @keyframes slide-left {
        0% {
            transform: translateX(100%);
        }

        50% {
            transform: translateX(-10%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(-100%);
        }

        50% {
            transform: translateX(10%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}