@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* 全局 */
.blog-panel {
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #d6d7d7;
    gap: 5vw;
}

/* 左侧 */
.blog-left-panel {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
}

.blog-category {
    font-family: 'EB Garamond', serif;
}


.blog-search {
    font-family: 'EB Garamond', serif;
}

.blog-total {
    font-family: 'EB Garamond', serif;
    color: #fff;
    background: linear-gradient(to right bottom, #E7E7E7, #9B9B9B);
    height: 20vh;
    width: 100%;
    padding: 8vh;
    border-radius: 10px;
}


/* 右侧 */
.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.blog-post {
    height: 20vh;
    width: 40vw;
    background: linear-gradient(to right bottom, #E7E7E7, #9B9B9B);
    box-shadow: 5px 5px 15px -2px rgba(62, 61, 61, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.blog-title {
    font-family: 'Noto Serif SC', serif;
    color: #fff;
    font-size: 20px;
}

.blog-post_date {
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size: 12px;
}

.blog-tags {
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size: 12px;
}


/* detail全局 */
.blog-detail-panel {
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #d6d7d7;
    font-family: 'Noto Serif SC', serif;
}

.detail-article {
    height: 60vh;
    width: 60vw;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -2px rgba(62, 61, 61, 0.75);
    overflow: scroll;
}

.detail-article-body {
    margin: 3vh 5vw;
    margin-bottom: 8vh;
}

.margin-left-5vw {
    margin-left: 5vw;
}

.blog-image-box {
    height: 60vh;
    width: 60vw;
}

.detail-article-title {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 20px;
}

.blog-image-not-found {
    min-width: 100%;
    height: 100%;
}

.detail-button {
    padding: 1vh 1vw;
    border-radius: 10px;
    border: none;
    margin-top: 3vh;
    box-shadow: 1px 1px 10px -2px rgba(62, 61, 61, 0.75);
}

.detail-link {
    color: black !important;
}