@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* 全局 */
.blog-panel {
    height: calc(100vh);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #d6d7d7;
    gap: 5vw;
}

.blog-main-nav-container {
    position: absolute;
    top: 3vh;
    left: 5vw;
}

.blog-main-panel {
    position: absolute;
    top: 60px;
    left: 0;
}

/* 左侧 */
.blog-left-panel {
    position: absolute;
    left: 3vw;
    top: 20vh;
    width: calc(30vw - 3vw);
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
}

.blog-category {
    font-family: 'EB Garamond', serif;
}


.blog-search {
    font-family: 'EB Garamond', serif;
    width: 100% !important;
}

.ant-input-affix-wrapper {
    border-radius: 25px !important;
}

.ant-input-search-button {
    display: none !important;
}

.blog-total {
    font-family: 'EB Garamond', serif;
    color: #fff;
    background: #a3a5a8;
    width: 100%;
    padding: 8vh 7vw 8vh 7vw;
    border-radius: 25px;
}

.blog-total:hover {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.5);
    }
}

/* 右侧 */

.blog-right-panel {
    position: absolute;
    left: 30vw;
    height: calc(100vh - 60px);
    width: calc(100vw - 30vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.blog-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

.blog-post {
    height: 40vh;
    width: 20vw;
    background: linear-gradient(to right bottom, #E7E7E7, #9B9B9B);
    box-shadow: 4px 4px 8px -2px rgba(62, 61, 61, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
}

.blog-post:nth-child(odd) {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.blog-post:first-child {
    background: radial-gradient(#60efbc, #58d5c9);
}

.blog-post:nth-child(even) {
    background: radial-gradient(#FFA646, #F86041);
}

.blog-post:nth-child(2n+5) {
    background: radial-gradient(#f588d8, #c0a3e5);
}

.blog-post:nth-child(2n+4) {
    background: radial-gradient(#76b2fe, #b69efe);
}

.blog-post:last-child {
    background: radial-gradient(#fbc1cc, #fa99b2);
}



.blog-post:hover {
    -webkit-animation: slide-y 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-y 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-y {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


.blog-title {
    font-family: 'Noto Serif SC', serif;
    color: #fff;
    font-size: 20px;
}

.blog-post_date {
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size: 12px;
}

.blog-tags {
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size: 12px;
}


/* detail全局 */
.blog-detail-panel {
    height: calc(100vh);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d6d7d7;
    font-family: 'Noto Serif SC', serif;
    position: relative;
}

.blog-detail-main-panel {
    position: absolute;
    top: 14vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-article {
    height: 60vh;
    width: 60vw;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -2px rgba(62, 61, 61, 0.75);
    overflow: scroll;
}

.detail-article-body {
    margin: 3vh 5vw;
    margin-bottom: 8vh;
}

.margin-left-5vw {
    margin-left: 5vw;
}

.blog-image-box {
    height: 60vh;
    width: 60vw;
}

.detail-article-title {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 20px;
}

.blog-image-not-found {
    min-width: 100%;
    height: 100%;
}

.detail-button {
    padding: 1vh 1vw;
    border-radius: 10px;
    border: none;
    margin-top: 3vh;
    box-shadow: 1px 1px 10px -2px rgba(62, 61, 61, 0.75);
}

.detail-link {
    color: black !important;
}