@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.project-panel {
    height: calc(100vh);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #d6d7d7;
}

.project-main-panel {
    height: calc(100vh);
    margin: 0;
    padding: 0;
    position: relative;
}

.project-background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-animation: scale-background-image 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-background-image 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-background-image {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


.project-cards-panel {
    position: absolute;
    top: 30vh;
    left: 40vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.project-card {
    height: 42vh;
    width: 14vw;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #000;
    position: relative;
    cursor: pointer;
    -webkit-animation: slide-left-card 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-left-card 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-left-card {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-16vw);
        transform: translateX(-16vw);
    }
}

@keyframes slide-left-card {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-16vw);
        transform: translateX(-16vw);
    }
}

.project-card:first-child {
    height: 42vh;
    width: 14vw;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #000;
    position: relative;
    cursor: pointer;
    -webkit-animation: expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes expand {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}


.project-card-image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.project-container {
    position: absolute;
    color: #fff;
    bottom: 1vh;
    left: 1vw;
    font-family: 'Bebas Neue', cursive;
}

.project-date {
    font-size: 15px;
}

.project-title {
    font-size: 25px;
}

.project-slider-panel {
    position: absolute;
    left: 40vw;
    top: calc(42vh + 30vh + 5vh);
    /* 卡片高度加上卡片上面高度加上与卡片的间距 */
}

.project-slider-button {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1vw;
    color: #fff;
}

.project-main-nav-container {
    position: absolute;
    top: 3vh;
    left: 5vw;
}

.navigation-animation {
    -webkit-animation: slide-bottom-nav 1.0s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-bottom-nav 1.0s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.nav-text-style {
    color: #fff !important;
}

.nav-text-style:hover {
    color: #000 !important;
}

@keyframes slide-bottom-nav {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



.project-main-text-container {
    position: absolute;
    bottom: 20vh;
    left: 5vw;
    width: 30vw;
    font-family: 'Bitter', serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.project-main-post-date {
    font-size: 20px;
    color: #fff;
    text-decoration: overline;
}

.project-main-personal_team_project {
    font-size: 25px;
    color: #fff;
}

.project-main-title {
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.read-more-btn {
    padding: 1vh 2vw;
    border-radius: 20px;
    border: 1px solid;
    background-color: transparent;
    color: #fff;
    margin: 2vh 2vw;
    cursor: pointer;
}

.project-main-body {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.project-hidden-line {
    color: #fff;
}

.project-main-github-link {
    color: #fff;
    font-size: 15px;
}